/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
/* navbar part start  */
   #navbar{
    display: none;
   }
   /* navbar part end  */
   /* banner part start  */
   .bannerTextPart h2 {
    font-size: 39px;
}

.bannerTextPart p {
    padding-top: 0px;
}

.parimary_btn {
    margin-top: 7px;
    font-size: 4px;
    padding: 11px 23px;
}
.banne_img img {
    height: 251px;
    padding-left: 183px;
  }
  .bage_one {
    font-size: 12px;
    bottom: 10px;
    padding: 39px 6px;
  }
  .bage_two {
    font-size: 11px;
    bottom: 15px;
    padding: 39px 15px;
  }
  
   /* banner part end  */
   /* wab part start  */
   
  .wablink p { 
    padding-right: 0; 
  }
  .saves { 
    padding-left: 0;
    padding-top: 0;
  }
  .h-100 {
    height: 97% !important;
    padding-left: 116px;
  }
  #revewPart {
    margin-top: 22px; 
  }
  .img_text h3 {
    font-size: 31px; 
    padding-right: 0px;
  }
  .img_text {
    padding-left: 23px;
  }
  .img_text p {
    font-size: 16px; 
    padding-right: 0;
  }
  .img_texts {
    padding-left: 0px;
    margin-top: 0px;
  }
  .img_texts h3 {
    font-size: 40px; 
    padding-bottom: 11px;
    padding-right: 21px;
  }
  .img_texts p {
    font-size: 18px; 
    padding-right: 0px;
  }
  .shoppingImg img { 
    width: 400px; 
    padding-left: 94px;
  }
  .shoppingCardText h4 {
    padding-top: 24px;
    font-size: 41px; 
    padding-bottom: 15px;
    padding-right: 0px;
  }
  .shoppingCardText p {
    font-size: 18px;
    font-weight: 500; 
    padding-right: 0px;
  }
  * { 
    padding-bottom: 2px;
  }
  .follwerText h4 { 
    padding-right: 21px;
    padding-top: 22px;
  }
  .follwerText p {
    font-size: 19px; 
    padding-right: 0px; 
    padding-bottom: 0px;
  }
  .varcityRoomText h4 { 
    padding:0 ;
  }
  .shoppingimgText h4 { 
    padding-right: 0;
  }
  .shoppingimgText p { 
    padding-right: 0;
  }
  .varcityRoomText p { 
    padding: 0px 0; 
  }
  .parimary_btns { 
    margin-top: 0;
  }
  .banggesHedingText h4 {
    padding-top: 41px;
    padding-bottom: 38px;
  }
  .footerHadingText p {
    font-size: 25px; 
    padding-right: 0;
    margin-top: 18px;
  }
  hr {
    width: 490px; 
  }
 

}
   /* wab part end  */
   /* banner part start  */
   
   /* banner part end  */
   /* banner part start  */
   
   /* banner part end  */
   /* banner part start  */
   
   /* banner part end  */
   /* banner part start  */
   
   /* banner part end  */
   /* banner part start  */
   
   /* banner part end  */
   /* banner part start  */
   
   /* banner part end  */
   /* banner part start  */
   
   /* banner part end  */
   /* banner part start  */
   
   /* banner part end  */
   /* banner part start  */
   
   /* banner part end  */
   /* banner part start  */
   
   /* banner part end  */
   /* banner part start  */
   
   /* banner part end  */
   /* banner part start  */
   
   /* banner part end  */
  
/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 320px) and (max-width: 575.98px) {
    /* Header Part Start  */
#navbar{
    display: none;
}
.bannerTextPart h2 {
    font-size: 29px; 
    padding-right: 0px; 
  }
  .bannerTextPart p {
    padding-top: 11px;
    font-size: 14px; 
    padding-right: 0px; 
  }
  .parimary_btn {
    margin-top: 9px;
    font-size: 0px; 
    padding: 12px 36px; 
  } 
  .banne_img img {
    height: 244px;
    padding-left: 81px;
  }
  .banne_img {
    padding-top: 35px;
  }
  .bage_two{
    display: none;
  }
  .bage_one { 
    padding: 40px 52px; 
    font-size: 7px; 
    transform: rotate(0deg); 
    bottom: -11px;
  }

  .wablink a i {
    font-size: 36px; 

  }
  .wablink p {
    font-size: 16px; 
    padding-right: 0px; 
  }
  .wablinks a i {
    font-size: 32px; 
  }

  .wablinks p {
    font-size: 16px; 
  }
  .saves a i {
    font-size: 30px; 
  }
  .saves p {
    font-size: 15px; 
  } 
  .saves {
    gap: 20px;
    padding-left: 113px;
    padding-top: 0px;
  }
  #revewPart {
    margin-top: 22px;
    margin-bottom: 0px;
  }
  #wab_link {
    margin-top: 41px;
  }

  .img_text {
    padding-left: 27px;
  }

  .img_text h3 {
    font-size: 24px; 
    padding-bottom: 6px;
    padding-right: 40px;
    padding-top: 20px;
  }

  .img_text p {
    font-size: 15px;
    padding-right: 1px;
  }
  .imgBages {
    gap: 10px;
    margin-top: -5px;
  }

  #revewPart {
    margin-top: 0px; 
  }
  .img_texts {
    padding-left: 43px; 
  }

  .img_texts h3 {
    font-size: 24px; 
    padding-bottom: 0px;
    padding-right: 0;
  }
  .img_texts p {
    font-size: 14px; 
    padding-right: 0;
  }

  .imgrevewpic img {
    width: 293px;
    padding-left: 88px;
  }
  .shoppingImg img { 
    width: 376px;
    padding-bottom: 30px;
    padding-left: 41px;
  }
  .shoppingCardText h4 {
    padding-top: 0px;
    font-size: 27px; 
    padding-bottom: 14px;
    padding-right: 0px;
    padding-left: 27px;
  } 
  .shoppingCardText p {
    font-size: 16px; 
    padding-right: 0;
    padding-left: 27px;
  }

  .parimary_btn {
    margin-top: -5px;
    font-size: 0px;
    padding: 11px 36px;
    margin-bottom: 10px;
  }
  .flower {
    width: 330px; 
  }

  .flower p {
    font-size: 13px;
    margin-top: 12px; 
  }

    .folwerTwo {
        width: 350px; 
        margin-top: 29px;
        margin-left: 27px;
      }

      .folwerTwo p {
        font-size: 13px;  
        padding-top: 10px;
      } 
      .followersBage {
        margin-top: -17px;
      }

      .bagess {
        padding: 11px 3px; 
        font-size: 8px; 
      }

      .varcityRoomText h4 {
        font-size: 26px;  
        padding: 0px 0;
      }
      .varcityRoomText p {
        font-size: 14px; 
        padding: 0px 0; 
        margin-bottom: 20px;
      } 
      .shoppingimgOne img {
        width: 307px;
      }
      .follwerText h4 {
        font-size: 25px; 
        padding-right: 0;
        padding-left: 32px;
      }




}

























}








}